.toggleContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  border: 3px solid #BDBDBD;
  border-radius: 7px;
  font-size: 20px;
  background: #BDBDBD;
  font-weight: bold;
  color: #BDBDBD;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .toggleContainer {
    font-size: 16px;
  }
}

@media (max-width: 1100px) {
  .toggleContainer {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .toggleContainer {
    font-size: 22px;
  }
}

.toggleContainer::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  border-radius: 7px;
  background: white;
  transition: all 0.3s;
}

.toggleCheckbox:checked+.toggleContainer::before {
  left: 50%;
}

.toggleContainer div {
  padding: 6px;
  text-align: center;
  z-index: 1;
}

.toggleCheckbox {
  display: none;
}

.toggleCheckbox:checked+.toggleContainer div:first-child {
  color: white;
  transition: color 0.3s;
}

.toggleCheckbox:checked+.toggleContainer div:last-child {
  color: #0E3B80;
  transition: color 0.3s;
}

.toggleCheckbox+.toggleContainer div:first-child {
  color: #0E3B80;
  transition: color 0.3s;
}

.toggleCheckbox+.toggleContainer div:last-child {
  color: white;
  transition: color 0.3s;
}