@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

.bg-gradient {
  background: radial-gradient(ellipse at center 8%, #0895d0 0, #1c5188 100%);
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

/* HERO */
.q-hero {
  padding-top: 60px;
  color: white;
}

.q-hero__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 52px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.q-hero__flex {
  padding-top: 50px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;

  @media (max-width: 1024px) {
    align-items: center;
    gap: 20px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.q-hero__text p {
  margin-top: 30px;
  max-width: 695px;
  font-size: 22px;
  line-height: 32px;
  font-weight: medium;

  @media (max-width: 1024px) {
    margin-top: 20px;
    font-size: 18px;
  }
}

.q-hero__text p:first-child {
  @media (max-width: 1024px) {
    margin-top: 0;
  }
}

.q-hero__flex img {
  max-width: 430px;
  width: 100%;

  @media (max-width: 1024px) {
    max-width: 380px;
  }
}

/* quests */
.quests {
  padding: 100px 0 80px 0;
}

.quest {
  margin-top: 40px;
  padding-bottom: 40px;

  border-bottom: 1px solid rgba(211, 211, 211, 0.5);
}

.quest:first-child {
  margin-top: 0;
}

.quest:last-child {
  border: none;
}

.quest:last-of-type {
  border-bottom: none;
}

.quest__title {
  font-size: 28px;
  font-weight: 32px;
  font-weight: 600;
  color: #0895d0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.quest__answer {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding-top: 30px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.quest__answer label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.quest__answer input[type="checkbox"], .quest__answer input[type="radio"] {
  margin-left: 15px;
  min-width: 20px;
  min-height: 20px;

  @media (max-width: 425px) {
    margin-left: 0;
  }
}

.quest__answer input[type="checkbox"], .quest__answer input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid rgba(128, 128, 128, 0.6);
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.quest__answer input[type="checkbox"]:hover, .quest__answer input[type="radio"]:hover {
  border-color: rgba(128, 128, 128, 1);
}

.quest__answer input[type="checkbox"]:checked, .quest__answer input[type="radio"]:checked {
  background-color: white;
  border-color: #24A0ED;
}

.quest__answer input[type="checkbox"]:checked::after {
  content: '✔';
  font-size: 16px;
  color: #24A0ED;
  position: absolute;
  top: -20%;
  left: 2.5px;
}

.quest__answer input[type="radio"] {
  border-radius: 50%;
}

.quest__answer input[type="radio"]:checked::after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #24A0ED;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quest__button:hover {
  background: rgb(0, 148, 240);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, #0075bd 0px -3px 0px inset;
}

.quest p {
  margin-top: 20px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  max-width: 1000px;
}

.quest input[type='email'], .input-other {
  max-width: 350px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  font-size: 20px;
  padding: 9px 10px;
}

.input-other {
  margin-left: 45px;

  @media (max-width: 450px) {
    margin-left: 30px;
    width: 80%;
  }
}

.quest input:focus {
  outline: none;
  border-color: #0895d0;
}

.quest textarea {
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  font-size: 20px;
  padding: 9px 10px;
  resize: vertical;
}

.quest textarea:focus {
  outline: none;
  border-color: #0895d0;
}

.yourself .quest__answer {
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.yourself .quest__answer-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  @media (max-width: 680px) {
    justify-content: center;

  }

  @media (max-width: 420px) {
    width: 100%;
  }
}

.yourself label {
  width: 110px;
  padding: 7px 24px 7px 15px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 8px;

  @media (max-width: 375px) {
    width: 90px;
    font-size: 18px;
  }
}

.yourself input {
  margin-left: 0 !important;
}

.yourself label:has(input[type="radio"]:checked) {
  border-color: #24A0ED;
}

.quest__button {
  display: block;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #31b0ff;
  color: white;
  font-size: 30px;
  line-height: 42px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
}

.error-input {
  border-color: red;
}